.back-to-root {
  font-size: 0.9em;
  text-align: left;
}

.back-to-root a {
  color: #FFF;
  opacity: 0.75;
}

.main-content img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.pagination, .site-footer {
  text-align: center;
}

.site-footer-owner {
  font-size: 0.9em;
  font-weight: normal;
}
